.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.two-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.two-cols > * {
  flex: 1;
  min-width: 15em;
}

.two-cols img {
  height: 100%;
  width: 100%;
}

/* Begin page container width stuff */
main,
footer {
  margin: 0 10vw;
}

@media (max-width: 500px) {
  main,
  footer {
    margin: 0 1em;
  }
}

/* End page container width stuff */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

/* normal body copy */
div.normal-copy {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/* end normal body copy */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-bottom: 0.5em;
}

main section {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.hero img {
  width: 100%;
}

.image-gallery {
  display: flex;
  gap: 1em;
}

.image-gallery img {
  object-fit: cover;
}

.image-gallery > * {
  flex: 1;
}

.image-gallery div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery p {
  width: 90%;
  text-align: center;
}

@media (max-width: 900px) {
  .image-gallery {
    flex-direction: column;
    align-items: center;
  }
}
